/* Estilos personalizados para la página de contacto */

header {
    background-color: #DC2626;
}

footer {
    background-color: #DC2626;
}

footer .text-white {
    color: white;
}

button[type="submit"] {
    background-color: #DC2626;
    color: white;
}

button[type="submit"]:hover {
    background-color: #B91C1C;
}
